
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #95a5a6;
  display: flex;
  min-height: 150vh;
  flex-direction: column;
}

/* For the sticky footer */
main {
  flex: 1 0 auto;
}

/* Styling for the navbar container */
#nav-container {
  background-color: #3498db;
}

/* Creates a hover effect on the navbar menu options */
.hover:hover {
  color: white;
}

/* Situating the navbar */
.navbar-toggle.navbar-left {
  float: left;
  margin-left: 25px;
}
.navbar-toggle.navbar-right {
  float: right;
  margin-left: 10px;
}

/* Size and position for nav buttons */
.rightnavbuttons {
  height: 10px;
  width: 10px;
  float: right;
}

/* Styling for the header container */
#header {
  background-color: #ecf0f1;
  text-align: center;
  border-radius: 50px;
  padding: 25px;
  box-shadow: 0 0 10px 4px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.div-title{
  font-size: 12px;
}

/* For spacing around the header title text */
.header-text-title {
  margin: 0.25rem 1rem;
}

/* For spacing around the header sub-title text */
.header-text {
  margin: 0.5rem 1rem;
}


/* Styling for the cards */
.card {
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px 4px;
  background-color: #ecf0f1 ;
  height: 100%;
}

.card-action {
  text-align: center;
}

/* Creates a sticky footer */
.footer {
  width: 100%;
  background-color: #3498db;
  color: white;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding: 1.5rem 0rem;
}

.sidenav {
  background-color: white;
  color: white;
}

.tab{
  text-align: center;
  display: flex;
}

img {
  border-style: solid;
  border-width: 1px;
}

.portfolio-image {
  height: auto;
  width: 350px;
}